{
  "extends": ["plugin:esm-import/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "ignore": ["node_modules"],
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "webpack.config.cjs",
        "extensions": [".ts", ".tsx", ".js"]
      }
    },
    "esm-import": {
      "ignore": [".js", ".cjs", ".json", ".css", ".scss", ".svg", ".png", ".gif", ".mp3"]
    }
  }
}
